/* 
    Document   : colores
    Created on : 11/03/2015, 10:39:37 AM
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.rojo{ 
background-color: red;
}
